In [1]:
#Loading dataset to pandas DataFrame
import pandas as pd
import numpy as np
data=pd.read_csv('/home/mhmd/Documents/Datasets/heart.csv')
df1=data.copy()
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [2]:
data.shape

(1025, 14)

In [3]:
data.isna().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [4]:
data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,54.434146,0.695610,0.942439,131.611707,246.00000,0.149268,0.529756,149.114146,0.336585,1.071512,1.385366,0.754146,2.323902,0.513171
std,9.072290,0.460373,1.029641,17.516718,51.59251,0.356527,0.527878,23.005724,0.472772,1.175053,0.617755,1.030798,0.620660,0.500070
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.00000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.00000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [5]:
#Checking the dataset is FullyBalanced or not
data.groupby('target') ['target'].count()

target
0    499
1    526
Name: target, dtype: int64

In [6]:
#Spliting the dataset for training data and testing data
from sklearn.model_selection import train_test_split
x=data.iloc[:,:-1].values
y=data.iloc[:,-1].values
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0,test_size=.2)

In [7]:
#Scaling the features for greater accuracy
from sklearn.preprocessing import MinMaxScaler
scalar= MinMaxScaler()
scalar.fit(x_train)
scalar.transform(x_train)
scalar.transform(x_test)
print('Done')

Done

In [8]:
#Importing required modules
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [9]:
# FINDING BEST VALUE FOR K 
ac=0
bc=100
for i in range(1,50):
    model=KNeighborsClassifier(n_neighbors=i)
    model.fit(x_train,y_train)
    y_pred=model.predict(x_test)
    a=accuracy_score(y_test,y_pred)
    b=round(a*100)
    if(b>ac):
        ac=b
        n=i
    
print(f'Maximum accuracy:   {ac}%')
print(f'K value         :   {n}')

Maximum accuracy:   100%
K value         :   1

In [10]:
#Training and evaluating the Model
def hpt(x_train,x_test,y_train,y_test):
    model1=KNeighborsClassifier(n_neighbors=1)
    model2=GaussianNB()
    model3=SVC()
    model1.fit(x_train,y_train)
    model2.fit(x_train,y_train)
    model3.fit(x_train,y_train)
    y_pred1=model1.predict(x_test)
    y_pred2=model2.predict(x_test)
    y_pred3=model3.predict(x_test)
    a1,a2,a3=accuracy_score(y_test,y_pred1),accuracy_score(y_test,y_pred2),accuracy_score(y_test,y_pred3)
    print(f'KNN accuracy        :  {round(a1*100)}%')
    print(f'Naive Bayes accuracy:  {round(a2*100)}%')
    print(f'SVM accuracy        :  {round(a3*100)}%')
    return y_pred1,y_pred2,y_pred3
print('Accuracy Score')
print('...............\n')
y1,y2,y3=hpt(x_train,x_test,y_train,y_test)
print('\nClassification Report of KNN')
print('...............\n')
c=classification_report(y_test,y1)
print(c)
print('\nClassification Report of Naive Bayes')
print('...............\n')
c=classification_report(y_test,y2)
print(c)
print('\nClassification Report of SVM')
print('...............\n')
c=classification_report(y_test,y3)
print(c)

Accuracy Score
...............

KNN accuracy        :  100%
Naive Bayes accuracy:  85%
SVM accuracy        :  75%

Classification Report of KNN
...............

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        98
           1       1.00      1.00      1.00       107

    accuracy                           1.00       205
   macro avg       1.00      1.00      1.00       205
weighted avg       1.00      1.00      1.00       205


Classification Report of Naive Bayes
...............

              precision    recall  f1-score   support

           0       0.88      0.81      0.84        98
           1       0.83      0.90      0.86       107

    accuracy                           0.85       205
   macro avg       0.86      0.85      0.85       205
weighted avg       0.86      0.85      0.85       205


Classification Report of SVM
...............

              precision    recall  f1-score   support

           0       0.77      0.67      0.72        98
           1       0.73      0.81      0.77       107

    accuracy                           0.75       205
   macro avg       0.75      0.74      0.74       205
weighted avg       0.75      0.75      0.74       205